<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles.css">  
  <title>Books Directory</title>
</head>
<body>
    <% if (user) { %>
    <header>
      <div class="header-nav">
        <div class="action-buttons">
          <% if (route) { %>
          <button id="home">
            <a href="/books">
              <i class="fas fa-home"></i>
              <span>Books</span>
            </a>
          </button>
          <% } else { %>
          <button id="add">
            <i class="fas fa-book"></i>
            <span>Add book</span>
          </button>
          <% } %>

          <% if (route !== "search") { %>
            <button id="search-nav">
              <a href="/books/search/"><i class="fas fa-search"></i> Search</a>
            </button>
            <% } %>  
        </div>
        
        <ul>
            <li class="user">
              <a href="/users/me">
                <div class="profile">

                  <% if (!user.avatar) { %>
                    <i class="fas fa-user"></i>
                  <% } else { %>
                    <img src="/users/<%= user._id %>/avatar" alt="Profile picture">
                  <% } %>  

                </div>
                <%= user.name %>
              </a>
            </li>
            <li><a class="logout" href="/users/logout">Sign out <i class="fas fa-door-open"></i></a></li>
            <% } %>  
        </ul>
      </div>
    </header>