<%- include("./partials/head.ejs") %>

<div class="container">
  <div class="profile-box">
  <h4 class="edit-heading">New Password</h4>
  <%- include("./partials/profile-nav.ejs") %>
  <form class="form form-edit">
        <input class="input"
        type="password"
        name="password"
        id="password"
        placeholder="New password"
        minlength="7"
        required
        />
        <input class="input"
        type="password"
        name="password2"
        id="password2"
        placeholder="Confirm new password"
        minlength="7"
        required
        />
        <p class="err-msg"></p>
      <button class="loginBtn" type="submit">Save changes</button>
      <button class="loginBtn cancelBtn"><a href="/users/me">Cancel</a></button>
  </form>
</div>
</div>

<script src="/js/newpass.js"></script>


<%- include("./partials/footer.ejs") %>